[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
importlib-resources = "*"
sqlalchemy-serializer = "*"

[dev-packages]
faker = "*"
ipdb = "*"

[requires]
python_version = "3.8.13"
