[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
jsonify = "*"
importlib-resources = "*"

[dev-packages]
ipdb = "*"
faker = "*"

[requires]
python_version = "3.9"
